{% load static %}
{%load socialaccount%}
{% load i18n account %}

<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<title>Bus Booking System</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
</head>
<body class="text-center pt-5">
        <div>
            <b>Welcome to the Bus Booking System</b>
        </div>
        <div >
            <p>Continue using Google </p>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <div>
                        <button type="submit" class="btn btn-primary" name="login">
                            <i class="fa fa-sign-in"></i> {% trans "Sign In" %}
                        </button>
                    </div>
                </div>
            </form>
            <div class="container w-50 m-auto mt-5">
            <img src="https://www.jbtbuscompany.com/static/XMX-IL1-1720610611/1720610847main_banner-charter-bus.png" alt="" class="img-fluid">
        </div>
        </div>
</body>
</html>
